<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="url='/user/page'">
<!-- 路径/文件名称::模块名称 -->
<header th:replace="/common/header::header"></header>
<div th:replace="/common/footer :: footer"></div>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div th:replace="/common/header::ui-nav"></div>
		<div th:replace="/common/header::ui-side"></div>
		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px;">

				<div class="layui-tab layui-tab-brief">
					<ul class="layui-tab-title">
						<a href="/list" th:href="@{/user/page}"><li class="layui-this">用户列表</li></a>
						<a href="/toAdd" th:href="@{/user/toAdd}"><li>用户添加</li></a>
						<li>权限分配</li>
					</ul>
					<div class="layui-tab-content">
						<table class="layui-table" lay-skin="line" lay-size="lg">
							<colgroup>
								<col width="150" />
								<col width="200" />
								<col />
							</colgroup>
							<thead>
								<tr>
									<th>ID</th>
									<th>User Name</th>
									<th>Password</th>
									<th>Age</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<!-- jpa -->
								<tr th:each="user : ${page.content}">
								<!-- mybatis -->
								<!-- <tr th:each="user : ${page.list}"> -->
									<th scope="row" th:text="${user.id}">1</th>
									<td th:text="${user.userName}">zsdai</td>
									<td th:text="${user.password}">123456</td>
									<td th:text="${user.age}">6</td>
									<td><a class="layui-btn layui-btn-sm"
										th:href="@{/user/toEdit(id=${user.id})}">修改</a></td>
									<td><a class="layui-btn layui-btn-sm"
										th:href="@{/user/delete(id=${user.id})}">删除</a></td>
								</tr>
							</tbody>
						</table>
						<!-- jpa -->
						<div th:replace="/common/page :: page-jpa(${url})"></div>
						<!-- mybatis -->
						<!-- <div th:replace="/common/page :: page-mybatis('/user/page_mybatis')"></div> -->
					</div>
				</div>
			</div>
		</div>
		<div th:replace="/common/footer::footer-content"></div>
	</div>
</body>

</html>
