<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 路径/文件名称::模块名称 -->
<header th:replace="/common/header::header"></header>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div th:replace="/common/header::ui-nav"></div>
		<div th:replace="/common/header::ui-side"></div>
		<div class="layui-body">
			<!-- 内容主体区域 -->
			<div style="padding: 15px;">
				<div class="layui-tab layui-tab-brief">
					<ul class="layui-tab-title">
						<a href="/user/list" th:href="@{/user/page}"><li >用户列表</li></a>
						<a href="/user/toAdd" th:href="@{/user/toAdd}"><li class="layui-this">用户添加</li></a>
						<li>权限分配</li>
					</ul>
					<div class="layui-tab-content">
						<form class="layui-form" th:action="@{/user/add}" method="post">
							<div class="layui-form-item">
								<label class="layui-form-label">输入框</label>
								<div class="layui-input-block">
									<input type="text" autocomplete="off" class="layui-input"
										name="userName" id="userName" placeholder="userName" />
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">密码框</label>
								<div class="layui-input-inline">
									<input type="password" autocomplete="off" class="layui-input"
										name="password" id="password" placeholder="Password" />
								</div>
								<div class="layui-form-mid layui-word-aux">辅助文字</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label">输入年龄</label>
								<div class="layui-input-block">
									<input type="text" autocomplete="off" class="layui-input"
										name="age" id="age" placeholder="age" />
								</div>
							</div>

							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn">立即提交</button>
									<button type="reset" class="layui-btn layui-btn-primary">重置</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
		<div th:replace="/common/footer::footer-content"></div>
	</div>
</body>
<div th:replace="/common/footer :: footer"></div>
</html>
